* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    /* overflow: hidden; */
    overflow-y: scroll;
    background-image: url("../books_sketch_bg.jpg");
    background-color: #cccccc;
    background-position: center;
    /* background-repeat: no-repeat; */
    background-repeat: repeat-y;
    background-size: cover;
    width: 100vw;
    height: 100vh;
}

.scene,
canvas{
    position: absolute;
    width: 100%;
    height: 100%;
}